@import 'colors';
@import 'navbar';
@import 'players';
@import 'status';
@import 'achievements';
@import 'tab-buttons';
@import 'datatables';

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.center {
    margin: 0 auto;
    display: block;
}

.text-center {
    text-align: center;
}

.tag {
    background: #eee;
    padding: 2px 6px;
    border-radius: 4px;
}

.bg-success {
    background-color: #6EC175;
}

.bg-danger {
    background-color: #C53653;
}

.text-cs {
    color: #e88d1a;
}

.text-primary {
    color: $primary-color
}


